@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200;300;600;700&display=swap');

.contenedor{
    background-image: url(./fondo.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;   
    position: relative;
}



.contenedor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #232d51, rgba(0, 0, 0, 0));
    z-index: 1; /* Asegura que el seudoelemento esté encima de la imagen */
  }

      
.contenedor h2{
    text-shadow: 1px 1px 2px #0000005e;
    color: #ffffff;
    margin-left: 30px;
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 30px;
    font-family: 'Blinker', sans-serif;
}

.contenedor h3{
    font-weight: 600;
    margin-left: 30px;
    background: linear-gradient(to right, #3991cf,#334277);
    -webkit-background-clip: text;
    color: transparent; 
    -webkit-text-stroke: 1px #3a4b88;
    margin-top: -40px;
    font-size: 95px;
    font-family: 'Blinker', sans-serif;
}

.cont{
    display: flex;
    position: absolute;
    bottom: -50px;
    left: 30px;
    z-index: 5;
    align-items: center;
    
}

.cont img{
    width: 140px;
    height: 140px;
    margin-bottom: 50px;
}


@media (max-width: 868px) {
    .contenedor{
        background-image: url(./fondo.jpeg);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;   
        position: relative;
        overflow: hidden;
    }
    .cont img{
        width: 200px;
        height: 200px;
        margin-bottom: -20px;
        margin-left: 40%;
                
    }

    .cont{
        display: block;
       
    }

    .club{
        text-align: center;
        margin-left: 8vw;
        
    }
    .contenedor h2{
        margin-left: 00px;
       
    }
    
    .contenedor h3{
        margin-left: 0px;
    }
}