@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200;300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&display=swap');

.slider{
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    margin-top: 65px;
    
}

.slider_track{
    display: flex;
    animation: scroll 30s linear infinite;
    width: calc(200px*20);
    height: 300px;
    justify-content: space-around;
    align-items: center;
    -webkit-animation: scroll 30s linear infinite ;
    margin-top: -30px;
}


.slider_img{
    width: 200px;
    transition: 1s ease all;
}


.imagen_slider{width: 80%;
border-radius: 100px;
box-shadow: 0 2px 20px #0003, 0 4px 4px #00000024, 0 4px 2px -4px #0000001f;
}


@keyframes scroll{
    0% {
        -webkit-transform: translteX(0);
        transform: translateX(0);
    } 
    100% {
        -webkit-transform: translteX(calc(-200px * 10));
        transform: translateX(calc(-200px * 10));
    } 

}

.beneficios{
    text-align: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#3991cf,#232d51);
    box-shadow: 0 2px 20px #0003, 0 4px 4px #00000024, 0 4px 2px -4px #0000001f;
}

.title_beneficio{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
    margin-top: 50;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.subtitlte_beneficio{
    font-family: 'Caveat', cursive;
    font-size: 32px;
    margin-top: -50px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
    

}

.slider_img:hover{
    transform: scale(1.15);
    cursor: pointer;
}

.beneficios::before {
    content: "";
    position: absolute;
    top: 0;
    box-shadow: 0 2px 20px #0003, 0 4px 4px #00000024, 0 4px 2px -4px #0000001f;
    right: 0;
    width: 0;
    height: 0;
    border-left: 100vw solid white; /* Ajusta el tamaño del triángulo */
    border-bottom: 87vh solid transparent; /* Cambia el color del triángulo */
    z-index: -1; /* Para que el triángulo esté detrás del contenido */
} 

@media (max-width: 768px) {
    .slider_img{
        width: 150px;
        transition: 1s ease all;
    }
    @keyframes scroll{
        0% {
            -webkit-transform: translteX(0);
            transform: translateX(0);
        } 
        100% {
            -webkit-transform: translteX(calc(-150px * 10));
            transform: translateX(calc(-150px * 10));
        } 
    
    }
    .slider_track{
        display: flex;
        animation: scroll 30s linear infinite;
        width: calc(150px*20);
        height: 300px;
        justify-content: space-around;
        align-items: center;
        -webkit-animation: scroll 30s linear infinite ;
        margin-top: -80px;
    }
    .title_beneficio{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 38px;
        margin-top: 50px;
        color: white;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    
    .subtitlte_beneficio{
        font-family: 'Caveat', cursive;
        font-size: 20px;
        margin-top: 10px;
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
        font-weight: 400;
        text-shadow: 1px 1px 2px black;
        
    }

}

@media (max-width: 425px) {
    .slider_img{
        width: 150px;
        transition: 1s ease all;
    }
    @keyframes scroll{
        0% {
            -webkit-transform: translteX(0);
            transform: translateX(0);
        } 
        100% {
            -webkit-transform: translteX(calc(-150px * 10));
            transform: translateX(calc(-150px * 10));
        } 
    
    }
    .slider_track{
        display: flex;
        animation: scroll 30s linear infinite;
        width: calc(150px*20);
        height: 300px;
        justify-content: space-around;
        align-items: center;
        -webkit-animation: scroll 30s linear infinite ;
        margin-top: -80px;
    }
    .title_beneficio{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 38px;
        margin-top: 50px;
        color: white;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    
    .subtitlte_beneficio{
        font-family: 'Caveat', cursive;
        font-size: 17px;
        margin-top: 10px;
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
        font-weight: 400;
        text-shadow: 1px 1px 2px black;
        
    }

}