.img{
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    transition: 1s ease all;
    display: block;
}

.img:hover{
    cursor: pointer;
}


.conte{
    position: relative;

}

.triang{
    overflow: hidden;
}
.splide_nav{display: none;}

@media (max-width: 768px) {
    .splide_normal{
        display: none;
    }

    .splide_nav{
        display: block;
        width: 100%;
    }
    .conte{
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
    .triang::after {
        display: none;
      }
      
    .triang::before{
        display: none;
    }

    .img{
        
        width: 100%;
    }
     .triang{
        width: 100%;
     }


}