.img{
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    transition: 1s ease all;
    display: block;
}

.img:hover{
    cursor: pointer;
}


.conte{
    position: relative;

}

.triang{
    overflow: hidden;
}
.splide_nav{display: none;}

@media (max-width: 768px) {
    .splide_normal{
        display: none;
    }

    .splide_nav{
        display: block;
        width: 120vw;
        height: auto;
        margin-left: -10vw;
    }
    .conte{
        width: 100%;
        height: auto;
        margin-left: 0;
    }
  
    .img{
        width: 100%;
    }


}