@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200;300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500&display=swap');

.escudo{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.contenedor{
width: 100vw;
height: 80px;
display: flex;
align-items: center;
position: sticky;
top:0;
width: 100%;
z-index: 9990;
background: linear-gradient(#3991cf,#232d51bb);
box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;


}

.club{
  display: flex;
  align-items: center;
  font-size: 10px;
  margin-left: 100px;
  font-family: 'Blinker', sans-serif;
  font-weight: normal;
  color: white;
}

.title_bold{
    font-family: 'Blinker', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-top: -10px;

}

.tilte{
    font-weight: 200;
}

.linea{
    background-color: white;
    height: 60px;
    width: 0.2px;
    margin-left: 40px;
}

.contenedor_botones{
    display: flex  ;
    width: 100px;
    height:100%;
    text-align: center;
}

.boton{
    height: 100%;
    width: 14vw;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 26px;
    letter-spacing: 1px;
    transition: 0.5s ease all;
}

.boton:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.navbar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 10px;
    font-weight: 800;
    background-color: #000000;
    transition: left 0.3s;
    display: none;
    overflow: hidden;
    
  }
  
  .open {
    left: 0;
  }
  
  .toggleButton {
    display: none;
  }
  
  .bar {
    display: block;
    width: 22px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
  }
  
  .navMenu {
    margin-top: -20px;
  }
  
  .navMenu ul {
    list-style: none;
    padding-top: 5vh;
    display: block;

  }
  .logo_nav{
    display: none;
  }
  .navMenu li {
    text-transform: uppercase;
    font-size: 5vw;
    width: 100vw;
    padding-top: 1vw;
    height: 10vh;
    font-family: 'Poppins', sans-serif;
  }
  
  .navMenu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  .escudo_nav{
    width: 50vw;
    position: absolute;
    top: 50vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

@media (max-width: 868px) {
    .navbar {
        width: 100vw;
        height: 100%;
        left: -100%;
        background-color: #1f1f1f;
        display: block;

      }
    .toggleButton {
        background: none;
        border: none;
        margin-top: 0px;
        margin-left: 1vw;
        cursor: pointer;
        padding: 10px;
        display: block;
      }
    .bar_{
        display: block;
        width: 7vw;
        height: 0.5vh;
        margin: 1.4vw auto;
        background-color: rgb(255, 255, 255);
    }
    
    .bar {
        display: block;
        width: 7vw;
        height: 0.5vh;
        margin: 1.4vw auto;
        background-color: rgb(79, 195, 248);
      }
    .logo_nav{
        display: block;
        position: absolute;
        width: 50px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
      .open {
        left: 0;
      }
    .contenedor{height: 55px;position: fixed;}

    .club{display: none;}
    .contenedor_botones{display: none;}

}

@media (max-height: 440px){
 
  .navMenu li {
    text-transform: uppercase;
    font-size: 3vw;
    width: 100vw;
    padding-top: 1vw;
    height: 14vh;
  }
  .escudo_nav{
    display: none;
  }
  .bar_{
    display: block;
    width: 3vw;
    height: 0.5vh;
    margin: 0.7vw auto;
    background-color: rgb(255, 255, 255);
}

.bar {
    display: block;
    width: 3vw;
    height: 0.5vh;
    margin: 0.72vw auto;
    background-color: rgb(79, 195, 248);
  }
  .navbar {
    width: 100vw;
    height: 100%;
    left: -100%;
    background-color: #1f1f1f;
    display: block;

  }
.toggleButton {
    background: none;
    border: none;
    margin-top: 0px;
    margin-left: 1vw;
    cursor: pointer;
    padding: 10px;
    display: block;
  }

.logo_nav{
    display: block;
    position: absolute;
    width: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .open {
    left: 0;
  }
.contenedor{height: 55px;position: fixed;}

.club{display: none;}
.contenedor_botones{display: none;}
  

}