@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200;300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&display=swap');

.info_foto{
    display: flex;
    font-family: 'Blinker', sans-serif;
    font-size: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px;
}

.info_foto h1{
    text-align: start;
    font-family: 'Caveat', cursive;
    font-size: 25px;
}


.info_foto h2{
    width: 720px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    text-align: start;

  
}

.contenedor{
    padding-top: 10px;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 40px;
    padding-bottom: 50px;

}


.title{
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}



.contenedor_carnet{
    width: 390px;
    height: 250px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
}




.frente{
    position: absolute;
    background-image: url("./frente.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform:rotateY(0deg);
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 20px #0003, 0 4px 4px #00000024, 0 4px 2px -4px #0000001f;
}

.atras{
    position: absolute;
    background-image: url("./atras.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 20px #0003, 0 4px 4px #00000024, 0 4px 2px -4px #0000001f;
    
}


.contenedor_carnet_gira{
    width: 390px;
    height: 250px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease;
    transform: rotateY(180deg);
}




@media (max-width: 768px) {
    .info_foto{
        display: block;
        font-family: 'Blinker', sans-serif;
        font-size: 5px;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 0px;
    }
    .info_foto h1{
        text-align: center;
        font-family: 'Caveat', cursive;
        font-size: 20px;
    }
    .title{
        text-transform: uppercase;
        text-shadow: 1px 1px 2px black;
        font-size: 35px;
    }
    
    .info_foto h2{
        text-align: center;
        font-weight: 500;
        line-height: 25px;
        font-size: 13px;
        text-align: center;
        width: 100%;
    
      
    }
    
    .contenedor{
        width: 100%;
        text-align: center;
        font-family: 'Blinker', sans-serif;
        font-size: 40px;
        padding-bottom: 50px;
    
    }
    
    .title{
        text-transform: uppercase;
        text-shadow: 1px 1px 2px black;
    }
    .contenedor_carnet{
        top:20px;
        right: 0;
        left: 0;
        margin: auto;
        width: 320px;
        height: 210px;
        position: relative;
        transform-style: preserve-3d;
        transition: all 1.5s ease;
    }

}