::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: #fcfcfc00; /* Color del fondo del track */
  }

::-webkit-scrollbar-thumb {
    background: #232d51; /* Color del thumb */
    border-radius: 5px; /* Borde redondeado del thumb */
}
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del thumb en hover */
  }

@media (max-width: 868px) {
  ::-webkit-scrollbar {
    width: 0px;}

}